<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crunchers.boyardroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mascot"
        android:label="BoyarDroid"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.crunchers.boyardroid.HomeScreen"
            android:label="@string/title_activity_home_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.crunchers.boyardroid.Main"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.crunchers.boyardroid.QuickRecipe"
            android:label="@string/title_activity_quick_recipe" >
        </activity>
        <activity
            android:name="com.crunchers.boyardroid.Fridge"
            android:label="@string/title_activity_fridge" >
        </activity>
        <activity
            android:name="com.crunchers.boyardroid.Fruit"
            android:label="@string/title_activity_fruit" >
        </activity>
        <activity
            android:name="com.crunchers.boyardroid.Meat"
            android:label="@string/title_activity_meat"
            android:parentActivityName="com.crunchers.boyardroid.QuickRecipe" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crunchers.boyardroid.QuickRecipe" />
        </activity>
        <activity
            android:name="com.crunchers.boyardroid.Vegetable"
            android:label="@string/title_activity_vegetable"
            android:parentActivityName="com.crunchers.boyardroid.QuickRecipe" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crunchers.boyardroid.QuickRecipe" />
        </activity>
        <activity
            android:name="com.crunchers.boyardroid.Grain"
            android:label="@string/title_activity_grain"
            android:parentActivityName="com.crunchers.boyardroid.QuickRecipe" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crunchers.boyardroid.QuickRecipe" />
        </activity>
        <activity
            android:name="com.crunchers.boyardroid.Dairy"
            android:label="@string/title_activity_dairy"
            android:parentActivityName="com.crunchers.boyardroid.QuickRecipe" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crunchers.boyardroid.QuickRecipe" />
        </activity>
        <activity
            android:name="com.crunchers.boyardroid.Spice"
            android:label="@string/title_activity_spice"
            android:parentActivityName="com.crunchers.boyardroid.QuickRecipe" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crunchers.boyardroid.QuickRecipe" />
        </activity>
        <activity
            android:name="com.crunchers.boyardroid.QuickRecipeList"
            android:label="@string/title_activity_quick_recipe_list" >
        </activity>
        <activity
            android:name="com.crunchers.boyardroid.FridgeRecipeResults"
            android:label="@string/title_activity_fridge_recipe_results" >
        </activity>
        <activity
            android:name="com.crunchers.boyardroid.FridgeResults"
            android:label="@string/title_activity_fridge_results" >
        </activity>
        <activity
            android:name="com.crunchers.boyardroid.QuickRecipeResults"
            android:label="@string/title_activity_quick_recipe_results" >
        </activity>
    </application>

</manifest>